.delete-button {
  background-color: transparent;
  color: var(--error-400);
  border: 2px solid var(--error-400);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.delete-button:hover:not(:disabled) {
  background-color: var(--error-100);
  color: var(--text-950);
}
