name: Lint
on: push
jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
      - name: Repository Checkout
        uses: actions/checkout@v4
      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version-file: "package.json"
          cache: "npm"
      - name: Install dependencies
        run: npm ci -f
      - name: Check
        run: npm run check
